In [1]:
#import necesary files
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
kopa=pd.read_csv('KOPA.CSV')
kopa.head()

,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDays,AmountPaid30,AmountPaid60,AmountPaid360,LoanStatus360
0,Product B,Male,Location 2,Region 2,16600,7/4/2014,2000,40,365,3121,4241,13621,Active
1,Product B,Male,Location 3,Region 3,16600,1/2/2015,2000,40,365,3061,4171,15041,Active
2,Product C,Female,Location 5,Region 5,15600,12/8/2012,1000,40,365,2160,3280,15340,Active
3,Product B,Male,Location 6,Region 1,16600,2/20/2015,2000,40,365,3041,4241,15321,Active
4,Product D,Female,Location 7,Region 2,20250,10/28/2013,2000,50,365,3470,4820,13720,Active

### check for null values
kopa.isnull

In [5]:
kopa.isnull().sum()

Product           0
CustomerGender    0
Location          0
Region            0
TotalPrice        0
StartDate         0
Deposit           0
DailyRate         0
TotalDays         0
AmountPaid30      0
AmountPaid60      0
AmountPaid360     0
LoanStatus360     0
dtype: int64

In [ ]:
####Data exploration
#Feature engineering

In [ ]:
#create copies
kopa_regression=kopa.copy()
kopa_classification=kopa.copy()

In [ ]:
cat_columns=[column for column in kopa_regression.columns if kopa_regression[column].dtype='0']

In [ ]:
#create first model
linear=LinearRegression()
#Train
linear.fit(x_train,y_train)
#test
prediction=linear.predict(x_train)

#ecvaluate
error=mean_squared_error(y_test,prediction)
print(error)

###REGRESSION

In [ ]:
#DECISON TREE